{% extends "layout.html" %}

{% block title %}
    Search results: {{ keyword }}
{% endblock %}

{% block main %}

        <div>
            <img src="{{ book['thumb'] }}" alt="">
        </div>
        <div>
            <h1 class="mt-4">{{ book['title'] }}</h1>
            <h2>
                Author:
            </h2>
            <h4>
                {% for author in book["authors"] %}
                    {{ author }}
                <br>
                {% endfor %}
            </h4>
            <h2>
                Categories:
            </h2    >
            <h4>
                {% for cat in book["cat"] %}
                    {{ cat }}
                    <br>
                {% endfor %}
            </h4>
        </div>

    <h2>Description:</h2>
    <div>
        <p class="pe-5 ps-5">
        {{ book["des"] }}
        </p>
    </div>
    <h4>Page count : {{ book["pgcount"] }}</h4>
    <h4>Publisher : {{ book["publisher"] }}</h4>
    <h4>Average Rating : {{ book["avgrate"] }} <i class="bi bi-star"></i></h4>

    {% if not incollection %}
    <form action="/collection" method="POST">
    <input type="hidden" value="{{ book['id'] }}" name="id">
        <input type="hidden" value="{{ book['title'] }}" name="title">
        <input type="hidden" value="{{ book['thumb'] }}" name="imglink">
        {% for author in book["authors"] %}
            <input type="hidden" value="{{ author }}" name="authors">
        {% endfor %}
        <input type="submit" class="mb-2 btn btn-primary" value="Add to collection">
    </form>
        <form action="/wish" method="post">
        <input type="hidden" value="{{ book['id'] }}" name="id">
        <input type="hidden" value="{{ book['title'] }}" name="title">
        <input type="hidden" value="{{ book['thumb'] }}" name="imglink">
        <input type="submit" class="mb-2 btn btn-primary" value="Add to wishlist">
    </form>
    {% endif %}


{% endblock %}