{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <div class="p-5">
        <h1>{{ username }}!</h1>
        <h2>Favourite Genre:</h2>
        <h5>
            {% for genre in usergenre %}
                {{ genre["genre"] ~ ","}}
            {% endfor %}
        </h5>

        <table class="table align-middle">
            <thead>
                <tr>
                    <th>Cover</th>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
            </thead>
            
            <tbody>
                {% for book in book_re %}
                    {% if book != None %}
                    
                    <tr>          
                            <td><img src="{{ book['smallthumb'] }}" alt=""></td>
                            <td><h5>{{ book["title"] }}</h5></td>
                            <td>
                                {% for author in book["authors"] %}
                                {{ author }}
                                <br>
                                {% endfor %}
                            </td>
                            <form method="POST" action="/moreinfo">
                                <input type="hidden" value="{{ book['id'] }}" name="id">
                                <td><input type="submit" value="More Info" class="mb-2 btn btn-primary"></td>
                            </form>
                    </tr>
                    
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
